<include file="Application/Home/Common/header.html"/>
<title>支付订单</title>
<link rel="stylesheet" type="text/css" href="__ROOT__/Application/Home/Common/css/pay.css">
<link rel="stylesheet" type="text/css" href="__ROOT__/Application/Home/Common/css/jquery.mCustomScrollbar.css">

	<!-- main开始 -->
	<div class="main">
		<div class="container">
			<div class="shop-header">
				<h2>支付订单</h2>
				<div class="shop-flow hidden-sm hidden-xs">
					<i></i>
					<ol>
						<li>我的购物车</li>
						<li>确认订单</li>
						<li class="cur">支付订单</li>
					</ol>
				</div>	
			</div>
			<div class="content">
				<div class="row submit-success">
					<div class="col-sm-2 col-md-2 col-lg-2">
						<i></i>
					</div>
					<div class="col-sm-10 col-md-10 col-lg-10">
						<h3>您的订单提交成功，请尽快付款</h3>
						<p>应付金额：<span>￥<{$total}></span></p>
						<p>订单号：<{$order_num}></p>
						<h4>请您在订单提交成功后24小时内完成支付，否则订单将会自动取消</h4>
					</div>
				</div>
				<h3>选择支付方式</h3>
				<div class="pay-ways">
					<h4>网银支付</h4>
					<ul class="row e-payment">
						<li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
							<div class="pay-box">
								<label for="" class="default"><input type="radio" name="" checked=""></label>
							</div>
						</li>
						<li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
							<div class="pay-box">
								<label for=""><input type="radio" name=""></label>
							</div>
						</li>
						<li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
							<div class="pay-box">
								<label for=""><input type="radio" name=""></label>
							</div>
						</li>
						<li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
							<div class="pay-box">
								<label for=""><input type="radio" name=""></label>
							</div>
						</li>
						<li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
							<div class="pay-box">
								<label for=""><input type="radio" name=""></label>
							</div>
						</li>
						<li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
							<div class="pay-box">
								<label for=""><input type="radio" name=""></label>
							</div>
						</li>
						<li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
							<div class="pay-box">
								<label for=""><input type="radio" name=""></label>
							</div>
						</li>
					</ul>
					<h4>第三方平台支付</h4>
					<ul class="row other-payment">
						<li class="col-sm-4 col-md-3 col-lg-3">
							<div class="pay-box alipay">
								<label for=""><input type="radio" name=""></label>
							</div>
						</li>
						<li class="col-sm-4 col-md-3 col-lg-3">
							<div class="pay-box weChat">
								<label for=""><input type="radio" name=""></label>
							</div>
						</li>
					</ul>
				</div>
				<h3>输入密码</h3>
				<div class="password">
					<p><i></i>您的支付环境安全，请放心支付！</p>
					<div class="pay-password">
						<span>请输入密码：</span>
						<p><input type="" maxlength='1'><input type="" maxlength='1'><input type="" maxlength='1'><input type="" maxlength='1'><input type="" maxlength='1'><input type="" maxlength='1'></p>
						<a href="javascript:;">忘记密码？</a>
					</div>
					<a href="pay_success.html">确认支付</a>
				</div>
			</div>
		</div>
	</div>
	<!-- main结束 -->

<include file="Application/Home/Common/footer.html"/>
<script type="text/javascript" src='__ROOT__/Application/Home/Common/js/pay.js'></script>
<script src="__ROOT__/Application/Home/Common/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript">
$(".nav-pills li").eq(4).addClass("current");
$(function(){
	$(window).load(function(){
		$(".e-payment").mCustomScrollbar({

			// scrollInertia:150

		});
	});
});
</script>