<include file="Application/Home/Common/header.html"/>
<title>付款成功</title>
<link rel="stylesheet" type="text/css" href="__ROOT__/Application/Home/Common/css/pay_success.css">

	<!-- main开始 -->
	<div class="main">
		<div class="container">
			<div class="shop-header hidden-xs">
				<h2>付款成功</h2>
				<div class="shop-flow hidden-sm">
					<i></i>
					<ol>
						<li>我的购物车</li>
						<li>确认订单</li>
						<li class="cur">支付订单</li>
					</ol>
				</div>	
			</div>
			<div class="content">
				<div class="row">
					<div class="col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
						<h1><i></i><span>付款成功！</span></h1>
						<div class="success-info">
							<p class="hidden-xs">订单号：<{$_SESSION["pay"]["order_num"]}></p>
							<p>付款金额：<span>￥<{$_SESSION["pay"]["total"]}></span></p>
							<p class="info">收货信息：<{$_SESSION["pay"]["name"]}>     <{$_SESSION["pay"]["address"]}></p>
							<p class="info hidden-xs">手机：<{$_SESSION["pay"]["phone"]}></p>
						</div>
						<p>
							<a href="<{:U('Shopping/order_lists')}>?p=1">查看订单详情</a>
							<a href="<{:U('Index/index')}>">返回商城首页</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- main结束 -->

<include file="Application/Home/Common/footer.html"/>
<script type="text/javascript">
	$(".nav-pills li").eq(4).addClass("current");
</script>