<include file="Application/Admin/Common/header.html"/>
<include file="Application/Admin/Common/left_menu.html"/>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/uedit/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/uedit/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/uedit/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Validform/jquery-1.6.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Validform/Validform_v5.3.2_min.js"></script>
<div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>Content box</h3>
        <ul class="content-box-tabs">
            <li><a href="#tab1" >Table</a></li>
            <!-- href must be unique and match the id of target div -->
            <li><a href="#tab2" class="default-tab">Forms</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab2">
          <form action="__URL__/product_update" method="post" enctype="multipart/form-data" >
            <fieldset>
            <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
            <p>
              <label>商品名称</label>
              <input class="text-input medium-input datepicker" type="text" id="medium-input" name="pro_name" value="<{$data['pro_name']}>"  />
              <input  type="hidden"  name="id" value="<{$data['id']}>" />
              <input  type="hidden"  name="curpage" value="<{$curpage}>" />
            </p>
            <p>
              <label>产品分类</label>
              <select name="cate" class="small-input">
                <volist name="cate" id="vo">
                  <if condition="$vo.id eq $data['cate']"><option value="<{$vo.id}>" selected="selected"><{$vo.name}></option>
                  <else /><option value="<{$vo.id}>"><{$vo.name}></option>
                  </if>
                </volist>
              </select>
            </p>
            <p>
              <label>商品原价</label>
              <input type="text" name="price" value="<{$data['price']}>" />
            </p>
            <p>
              <label>商品现价</label>
              <input type="text" name="new_price" value="<{$data['new_price']}>" />
            </p>
            <p>
              <label>商品库存</label>
              <input type="text" name="num" value="<{$data['num']}>" />
            </p>
            <div class="attr" style="margin: 20px 0;">
              <h5>商品属性</h5>
              <foreach name="data['attr']" item="v" key="k">
              <p>
                <input type="text" name="key[]" value="<{$k}>" />
                <input type="text" name="val[]" value="<{$v|implode=' ',###}>" />
                <span class="attr_del" style="color: red;">删除</span>
              </p>
              </foreach>
              <span class="attr_add" style="color: red;">添加属性</span>
            </div>
            
            <p>
              <label>产品图片</label>
              <input type="file" name="image[]" id="myfile" multiple="multiple" />
              <ul class="images">
              <volist name="data['image']" id="voo">
                <li>
                  <img src="__ROOT__/<{$voo}>" />
                </li>
              </volist>
              </ul>
              <style>
                 #main-content ul.images{ list-style:none; overflow:hidden; }
                 #main-content ul.images li{width:100px; height: 100px; border:1px #666666 solid; margin-left:15px; float:left; padding:0; position: relative;} 
                 #main-content ul.images li>img{width:100px; height: 100px;}
              </style>
            </p>
            
            <p>
              <label>商品详情</label>
             <textarea id="editor" type="text/plain" name="content" style="height:300px;" nullmsg="内容不能为空！" datatype="*"><{$data['content']}></textarea>
            </p>
            <p>
              <input class="button" type="submit" value="Submit" />
            </p>
            </fieldset>
            <div class="clear"></div>
            <!-- End .clear -->
          </form>
        </div>
        <!-- End #tab2 -->
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->

<include file="Application/Admin/Common/footer.html"/>
 <script type="text/javascript">
 $(".product").addClass("current");
    $(".product_lists").addClass("current");
    $("#myfile").change(function(){
      //当上传新图片，实现images内容初始化，将之前上传的内容
      $(".images").html("");
       // console.log(this.files.length);
       var j=0;//j表示图片对应的下标
       for(var i=0;i<this.files.length;i++){
        var file=this.files[i];
        if (window.FileReader) {    
            var reader = new FileReader();    
            reader.readAsDataURL(file);    
            //监听文件读取结束后事件    
          reader.onloadend = function (e) {
                var str="<li>";   //e.target.result就是最后的路径地址
            str+="<img src='"+e.target.result+"'/>";
            str+="</li>";
                $(".images").append(str);
               j++;
            }  

       }
     }
    })


  $(".attr_add").live("click",function(){
      var str='<p>';
      str+='<input type="text" name="key[]" placeholder="属性名称" />';
      str+='<input type="text" name="val[]" placeholder="属性值" />';
      str+='<span class="attr_del" style="color: red;">删除</span>';
      str+='</p>';
      $(this).before(str);
  })

  $(".attr_del").live("click",function(){
    $(this).parent().remove();
  })

  var ue = UE.getEditor('editor');


    function isFocus(e){
        alert(UE.getEditor('editor').isFocus());
        UE.dom.domUtils.preventDefault(e)
    }
    function setblur(e){
        UE.getEditor('editor').blur();
        UE.dom.domUtils.preventDefault(e)
    }
 
    </script>